@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nova+Script&display=swap');
*{
    background-color: #010A26;
    margin: 0;
    padding: 0;
}

#imagem-inicial{
    width: 100%;
    height: auto;
}

#tela-oculta{
    display: none;
}

.tela-home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
}

#home h1{
    font-family: 'Anton', sans-serif;
    font-size: 5.4rem;
    color: #F2DFBB;
    margin-bottom: 5rem;
}

#home h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

.botao-jogo{
    font-family: 'Poppins';
    user-select: none;
    font-size: 1.5rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #F2DFBB;
    background: linear-gradient(90deg, #014040, #027367 100%);
    border-radius: 4px;
}

.botao-jogo:hover{
    color: #F2DFBB;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #014040;
    transition: transform 150ms;
    transform: scale(1.03);
}

.botao-jogo[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/*Definições*/
.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-items: center;
}
/*Fim das definições*/

/*Animações*/
@keyframes pisca{
    0%, 100%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
  }
  /*Fim das animações*/